@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: #ecf2f8;
  font-family: "Barlow Semi Condensed", sans-serif;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: auto;
  row-gap: 24px;
  column-gap: 30px;
}

.img1 {
  margin-top: 26px;
  margin-left: 32px;
  display: flex;
  justify-content: left;
}

.one {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  justify-content: center;
}

.name1 {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  width: 73px;
  height: 13px;
}

.info {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
  opacity: 0.5;
  margin-top: 4px;
}

.header1 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 476px;
  height: 72px;
  align-content: center;
  margin-left: 32px;
  margin-top: 18px;
}

.text1 {
  color: #cfcfcf;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  width: 476px;
  height: 96px;
  align-content: center;
  margin-left: 32px;
  margin-top: 16px;
  opacity: 0.7;
}

.card1 {
  width: 540px;
  height: 282px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #733fc8;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  background-image: url("“.png");
  background-position: top 0 right 24px;
  background-repeat: no-repeat;
}

.card2 {
  width: 255px;
  height: 282px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #48556a;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  justify-content: center;
}

.name2 {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  width: 90px;
  height: 13px;
}

.header2 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 191px;
  height: 73px;
  justify-content: center;
  margin-left: 32px;
  margin-top: 18px;
}

.text2 {
  color: #cfcfcf;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  width: 191px;
  height: 90px;
  align-content: center;
  margin-left: 32px;
  margin-top: 16px;
  opacity: 0.7;
}

.card3 {
  width: 255px;
  height: 266px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  justify-content: center;
}

.black {
  color: #48556a;
}

.card4 {
  width: 540px;
  height: 266px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #19202d;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  justify-content: center;
}

.four {
  width: 476px;
  height: 72px;
}

.card5 {
  width: 255px;
  height: 572px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  justify-content: center;
}

@media (min-width: 1440px) {
  body {
    padding: 165px 165px;
  }

  .main {
    grid-template-columns: repeat(4, auto);
  }

  .card1 {
    background-position: top 0 right 80px;
    grid-column: 1/3;
  }

  .card4 {
    grid-column: 2/4;
  }

  .card5 {
    grid-row: 1/4;
    grid-column: 4/4;
  }
}
